  * {
	  margin: 0;
	  padding: 0;
  }
 
 body {
	  background-color: gray;
	  background-image: url('../img/pes-2022-efootball-gameplay-3-.jpeg');
	  background-repeat: no-repeat;
	  background-size: 100vw 100vh;
	  font-family: 'Roboto', sans-serif;
	}
	 
	.container {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}
	 
	.titulo {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000;
		color: #fff;
		width: 100vw;
		height: 10vh;
		text-decoration: none;
		border-bottom: 2px solid yellow;
	}
	
	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 200px;
		width: 300px;
		height: 150px;
	}
	
	.btn input {
		width: 100px;
		height: 50px;
		margin: 10px;
		color: #fff;
		background-color: #000;
		border-radius: 10px;
		border: 2px solid #161616;
	}