  * {
	  margin: 0;
	  padding: 0;
  }
 
 body {
	  background-color: #161616;
	  font-family: 'Roboto', sans-serif;
	}
	 
	.container {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}
	 
	.titulo {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000;
		color: #fff;
		width: 100vw;
		height: 10vh;
		text-decoration: none;
		border-bottom: 1px solid yellow;
		text-decoration: none;
	}
	
	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 150px;
		width: 300px;
		height: 150px;
	}
	
	.btn input {
		width: 100px;
		height: 50px;
		margin: 10px;
	}
	
	.flex-acesso {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 300px;
	 margin: 50px;
	}
	
	.flex-acesso form {
	 background-color: #000;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 padding: 10px;
	 margin: 20px;
	 border: 1px solid #000;	
	 width: 300px;
	 height: 300px;
	 color: #fff;
	}
	
	.flex-acesso form label {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 margin: 5px;
	 font-size: 20px; 
	}
	
	.flex-acesso form > label {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 margin: 5px;
	 width: 200px;
	 border-radius: 10px;
	 font-size: 20px; 
	 background-color: yellow;
	 color: #000;
	}
	
	.flex-acesso form input {
	 height: 25px;
	 width: 200px;
	}
	
	.flex-acesso button {
	 margin: 15px;
	 height: 30px;
	 width: 80px;
	 background-color: #800000;
	}
	
	.flex-acesso button:hover {
	 margin: 15px;
	 height: 30px;
	 width: 80px;
	 background-color: #FF0000;
	}